<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.thor.core.dao.mapper.job.BaseJobMapper">

    <insert id="add" parameterType="com.thor.sdk.common.result.job.BaseJob">
        INSERT INTO ${tablePrefix}job (
        `JOB_NAME`,
        `DISPLAY_NAME`,
        `JOB_TYPE`,
        `JOB_CONTENT`,
        `STATUS`,
        `CATEGORY_NAME`,
        `CREATE_TIME`,
        `UPDATE_TIME`,
        `REMARK`,
        `TENANT_ID`
        )
        VALUES
        (
        #{jobName, jdbcType=VARCHAR},
        #{displayName, jdbcType=VARCHAR},
        #{jobType, jdbcType=INTEGER},
        #{jobContent, jdbcType=VARCHAR},
        #{status, jdbcType=INTEGER},
        #{categoryName, jdbcType=VARCHAR},
        #{createTime, jdbcType=TIMESTAMP},
        #{updateTime, jdbcType=TIMESTAMP},
        #{remark, jdbcType=VARCHAR},
        #{tenantId, jdbcType=VARCHAR}
        )
    </insert>

    <update id="update" parameterType="com.thor.sdk.common.result.job.BaseJob">
        UPDATE ${tablePrefix}job j
        SET
        <if test="displayName != null">
            `DISPLAY_NAME` = #{displayName, jdbcType=VARCHAR},
        </if>
        JOB_TYPE = #{jobType, jdbcType=INTEGER},
        JOB_CONTENT = #{jobContent, jdbcType=VARCHAR},
        STATUS = #{status, jdbcType=INTEGER},
        CATEGORY_NAME = #{categoryName, jdbcType=VARCHAR},
        UPDATE_TIME = #{updateTime, jdbcType=TIMESTAMP},
        REMARK = #{remark, jdbcType=VARCHAR}
        <where>
            <include refid="condJobName"/>
            <include refid="condTenantId"/>
        </where>
    </update>

    <select id="get" parameterType="map" resultType="com.thor.sdk.common.result.job.BaseJob">
        select * from ${tablePrefix}job j
        <where>
            <include refid="condJobName"/>
            <include refid="condTenantId"/>
        </where>
    </select>

    <select id="list" parameterType="map" resultType="com.thor.sdk.common.result.job.BaseJob">
        select *
        from ${tablePrefix}job j
        <where>
            <if test="jobName != null">
                and JOB_NAME like concat('%', #{jobName, jdbcType=VARCHAR}, '%')
            </if>
            <if test="displayName != null">
                and `DISPLAY_NAME` like concat('%', #{displayName, jdbcType=VARCHAR}, '%')
            </if>
            <if test="jobType != null">
                and JOB_TYPE = #{jobType, jdbcType=INTEGER}
            </if>
            <if test="status != null">
                and `STATUS` = #{status, jdbcType=INTEGER}
            </if>
            <if test="lowerJobType != null">
                and `JOB_TYPE` &gt;= #{lowerJobType, jdbcType=INTEGER}
            </if>
            <include refid="condTenantId"/>
        </where>
        <choose>
            <when test="sort == null">
                order by JOB_NAME
            </when>
            <otherwise>
                order by ${sort}
            </otherwise>
        </choose>
    </select>

    <delete id="delete" parameterType="map">
        delete from ${tablePrefix}job
        <where>
            <if test="jobNames != null">
                JOB_NAME in
                <foreach item="jobName" collection="jobNames" open="(" separator="," close=")">
                    #{jobName}
                </foreach>
            </if>
            <if test="tenantId != null">
                and TENANT_ID = #{tenantId, jdbcType=VARCHAR}
            </if>
        </where>
    </delete>

    <sql id="condJobName">
        <if test="jobName != null">
            and j.JOB_NAME = #{jobName, jdbcType=VARCHAR}
        </if>
    </sql>

    <sql id="condTenantId">
        <if test="tenantId != null">
            and j.TENANT_ID = #{tenantId, jdbcType=VARCHAR}
        </if>
    </sql>
</mapper>