<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.thor.core.dao.mapper.TenantMapper">

    <select id="list" parameterType="map" resultType="com.thor.core.entity.Tenant">
        select *
        from ${tablePrefix}tenant
        <where>
            <if test="id != null">
                and ID like concat('%', #{id, jdbcType=VARCHAR}, '%')
            </if>
            <if test="name != null">
                and `NAME` like concat('%', #{name, jdbcType=VARCHAR}, '%')
            </if>
            <if test="matchAdmin != null">
                and ADMIN = #{matchAdmin, jdbcType=VARCHAR}
            </if>
        </where>
        <choose>
            <when test="sort == null">
                order by ID ${direction}
            </when>
            <otherwise>
                order by ${sort} ${direction}
            </otherwise>
        </choose>
    </select>

</mapper>