<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.attemper.interior.dao.mapper.CleanLogMapper">
    <delete id="delete" parameterType="map">
        DELETE FROM al USING api_log al
        <where>
            <if test="tenantId != null">
                AND TENANT_ID = #{tenantId, jdbcType=VARCHAR}
            </if>
            <choose>
                <when test="cleanAll == null">
                    AND CODE = 200
                </when>
                <when test="cleanAll == false">
                    AND CODE != 200
                </when>
                <otherwise/>
            </choose>
            AND RESPONSE_TIME &lt;= #{deadLineDate, jdbcType=TIMESTAMP}
        </where>
    </delete>

</mapper>