<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.attemper.core.dao.statistics.AnalysisMapper">

    <select id="getNextFireTimeWithJobName" parameterType="map"
            resultType="com.github.attemper.common.result.statistics.analysis.AppPlanWrapper">
        SELECT job_name, next_fire_time, prev_fire_time
        FROM ${qrtzTablePrefix}triggers t
        <where>
            and next_fire_time is not null
            <include refid="condTriggerGroup"/>
        </where>
        ORDER BY next_fire_time
    </select>

    <sql id="condTriggerGroup">
        <if test="tenantId != null">
            and t.TRIGGER_GROUP = #{tenantId, jdbcType=VARCHAR}
        </if>
    </sql>

</mapper>