<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sse.attemper.core.dao.mapper.arg.ArgMapper">
    <insert id="add" parameterType="com.sse.attemper.common.result.dispatch.arg.Arg">
        INSERT INTO ${tablePrefix}arg (
            ARG_NAME,
            ARG_TYPE,
            ARG_VALUE,
            REMARK,
            TENANT_ID
        )
        VALUES
        (
            #{argName, jdbcType=VARCHAR},
            #{argType, jdbcType=INTEGER},
            #{argValue, jdbcType=VARCHAR},
            #{remark, jdbcType=VARCHAR},
            #{tenantId, jdbcType=VARCHAR}
        );
    </insert>

    <update id="update" parameterType="com.sse.attemper.common.result.dispatch.arg.Arg">
        UPDATE
        ${tablePrefix}arg
        SET
        ARG_TYPE = #{argType, jdbcType=INTEGER},
        ARG_VALUE = #{argValue, jdbcType=VARCHAR},
        REMARK = #{remark, jdbcType=VARCHAR}
        <where>
            <include refid="condArgName"/>
            <include refid="condTenantId"/>
        </where>
    </update>

    <select id="get" parameterType="map" resultType="com.sse.attemper.common.result.dispatch.arg.Arg">
        SELECT
        ARG_NAME,
        ARG_TYPE,
        ARG_VALUE,
        REMARK,
        TENANT_ID
        FROM
        ${tablePrefix}arg
        <where>
            <include refid="condArgName"/>
            <include refid="condTenantId"/>
        </where>
    </select>

    <select id="list" parameterType="map" resultType="com.sse.attemper.common.result.dispatch.arg.Arg">
        SELECT *
        FROM ${tablePrefix}arg
        <where>
            <if test="argName != null">
                and lower(ARG_NAME) like concat('%', lower(#{argName, jdbcType=VARCHAR}), '%')
            </if>
            <if test="argType != null">
                and ARG_TYPE = #{argType, jdbcType = INTEGER}
            </if>
            <if test="argValue != null">
                and lower(ARG_VALUE) like concat('%', lower(#{argValue, jdbcType = VARCHAR}), '%')
            </if>
            <if test="remark != null">
                and lower(REMARK) like concat('%', lower(#{remark, jdbcType = VARCHAR}), '%')
            </if>
            <include refid="condTenantId"/>
        </where>
        <choose>
            <when test="sort == null">
                order by ARG_NAME ${direction}
            </when>
            <otherwise>
                order by ${sort} ${direction}
            </otherwise>
        </choose>
    </select>

    <delete id="delete" parameterType="map">
        delete from ${tablePrefix}arg
        <where>
            <if test="argNames != null">
                ARG_NAME in
                <foreach item="argName" collection="argNames" open="(" separator="," close=")">
                    #{argName}
                </foreach>
            </if>
            <include refid="condTenantId"/>
        </where>
    </delete>

    <sql id="condArgName">
        <if test="argName != null">
            and ARG_NAME = #{argName, jdbcType=VARCHAR}
        </if>
    </sql>

    <sql id="condTenantId">
        <if test="tenantId != null">
            and TENANT_ID = #{tenantId, jdbcType=VARCHAR}
        </if>
    </sql>

</mapper>