<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.attemper.core.dao.dispatch.DataSourceMapper">
    <insert id="add" parameterType="com.github.attemper.common.result.dispatch.datasource.DataSourceInfo">
        INSERT INTO ${tablePrefix}datasource (
            DB_NAME,
            DRIVER_CLASS_NAME,
            JDBC_URL,
            USER_NAME,
            PASSWORD,
            ATTRIBUTE,
            TENANT_ID
        )
        VALUES
        (
            #{dbName, jdbcType=VARCHAR},
            #{driverClassName, jdbcType=VARCHAR},
            #{jdbcUrl, jdbcType=VARCHAR},
            #{userName, jdbcType=VARCHAR},
            #{password, jdbcType=VARCHAR},
            #{attribute, jdbcType=VARCHAR},
            #{tenantId, jdbcType=VARCHAR}
        )
    </insert>

    <update id="update" parameterType="com.github.attemper.common.result.dispatch.datasource.DataSourceInfo">
        UPDATE
        ${tablePrefix}datasource
        <set>
            DRIVER_CLASS_NAME = #{driverClassName, jdbcType=VARCHAR},
            JDBC_URL = #{jdbcUrl, jdbcType=VARCHAR},
            USER_NAME = #{userName, jdbcType=VARCHAR},
            PASSWORD = #{password, jdbcType=VARCHAR},
            ATTRIBUTE = #{attribute, jdbcType=VARCHAR},
        </set>
        <where>
            <include refid="condDbName_"/>
            <include refid="condTenantId_"/>
        </where>
    </update>

    <select id="get" parameterType="map"
            resultType="com.github.attemper.common.result.dispatch.datasource.DataSourceInfo">
        SELECT *
        FROM ${tablePrefix}datasource
        <where>
            <include refid="condDbName_"/>
            <include refid="condTenantId_"/>
        </where>
    </select>

    <select id="list" parameterType="map"
            resultType="com.github.attemper.common.result.dispatch.datasource.DataSourceInfo">
        SELECT *
        FROM ${tablePrefix}datasource
        <where>
            <if test="dbName != null">
                AND LOWER(DB_NAME) LIKE CONCAT(CONCAT('%', LOWER(#{dbName, jdbcType=VARCHAR})), '%')
            </if>
            <if test="driverClassName != null">
                AND DRIVER_CLASS_NAME = #{driverClassName, jdbcType=VARCHAR}
            </if>
            <if test="jdbcUrl != null">
                AND LOWER(JDBC_URL) LIKE CONCAT(CONCAT('%', LOWER(#{jdbcUrl, jdbcType = VARCHAR})), '%')
            </if>
            <if test="userName != null">
                AND LOWER(USER_NAME) LIKE CONCAT(CONCAT('%', LOWER(#{userName, jdbcType = VARCHAR})), '%')
            </if>
            <include refid="condTenantId_"/>
        </where>
        <choose>
            <when test="sort == null">
                order by DB_NAME
            </when>
            <otherwise>
                order by ${sort}
            </otherwise>
        </choose>
    </select>

    <delete id="delete" parameterType="map">
        DELETE FROM ${tablePrefix}datasource
        <where>
            DB_NAME IN
            <foreach item="dbName" collection="dbNames" open="(" separator="," close=")">
                #{dbName, jdbcType=VARCHAR}
            </foreach>
            <include refid="condTenantId_"/>
        </where>
    </delete>

    <sql id="condDbName_">
        <if test="dbName != null">
            AND DB_NAME = #{dbName, jdbcType=VARCHAR}
        </if>
    </sql>

    <sql id="condTenantId_">
        <if test="tenantId != null">
            AND TENANT_ID = #{tenantId, jdbcType=VARCHAR}
        </if>
    </sql>

</mapper>