<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sse.attemper.core.dao.mapper.monitor.JobInstanceMapper">

    <insert id="add" parameterType="com.sse.attemper.common.result.dispatch.monitor.JobInstance">
        INSERT INTO ${tablePrefix}job_execution (
            ID,
            PROC_INST_ID,
            ROOT_PROC_INST_ID,
            JOB_NAME,
            TRIGGER_NAME,
            PROC_DEF_ID,
            START_TIME,
            STATUS,
            LOG_TEXT,
            TENANT_ID
        )
        VALUES
        (
            #{id, jdbcType=VARCHAR},
            #{procInstId, jdbcType=VARCHAR},
            #{rootProcInstId, jdbcType=VARCHAR},
            #{jobName, jdbcType=VARCHAR},
            #{triggerName, jdbcType=VARCHAR},
            #{procDefId, jdbcType=VARCHAR},
            #{startTime, jdbcType=TIMESTAMP},
            #{status, jdbcType=INTEGER},
            #{logText, jdbcType=VARCHAR},
            #{tenantId, jdbcType=VARCHAR}
        );
        INSERT INTO ${tablePrefix}job_instance (
            ID,
            PROC_INST_ID,
            ROOT_PROC_INST_ID,
            JOB_NAME,
            TRIGGER_NAME,
            PROC_DEF_ID,
            START_TIME,
            STATUS,
            LOG_TEXT,
            TENANT_ID
        )
        VALUES
        (
            #{id, jdbcType=VARCHAR},
            #{procInstId, jdbcType=VARCHAR},
            #{rootProcInstId, jdbcType=VARCHAR},
            #{jobName, jdbcType=VARCHAR},
            #{triggerName, jdbcType=VARCHAR},
            #{procDefId, jdbcType=VARCHAR},
            #{startTime, jdbcType=TIMESTAMP},
            #{status, jdbcType=INTEGER},
            #{logText, jdbcType=VARCHAR},
            #{tenantId, jdbcType=VARCHAR}
        )
    </insert>

    <update id="update" parameterType="com.sse.attemper.common.result.dispatch.monitor.JobInstance">
        UPDATE ${tablePrefix}job_execution j
        SET
        PROC_INST_ID = #{procInstId, jdbcType=VARCHAR},
        ROOT_PROC_INST_ID = #{rootProcInstId, jdbcType=VARCHAR},
        PROC_DEF_ID = #{procDefId, jdbcType=VARCHAR},
        END_TIME = #{endTime, jdbcType=TIMESTAMP},
        DURATION = #{duration, jdbcType=INTEGER},
        STATUS = #{status, jdbcType=INTEGER},
        LOG_TEXT = #{logText, jdbcType=VARCHAR}
        <where>
            <include refid="condId"/>
        </where>
        ;
        UPDATE ${tablePrefix}job_instance j
        SET
        PROC_INST_ID = #{procInstId, jdbcType=VARCHAR},
        ROOT_PROC_INST_ID = #{rootProcInstId, jdbcType=VARCHAR},
        PROC_DEF_ID = #{procDefId, jdbcType=VARCHAR},
        END_TIME = #{endTime, jdbcType=TIMESTAMP},
        DURATION = #{duration, jdbcType=INTEGER},
        STATUS = #{status, jdbcType=INTEGER},
        LOG_TEXT = #{logText, jdbcType=VARCHAR}
        <where>
            <include refid="condId"/>
        </where>
    </update>


    <insert id="addAct" parameterType="com.sse.attemper.common.result.dispatch.monitor.JobInstanceAct">
        INSERT INTO ${tablePrefix}job_execution_act (
            ID,
            ACT_INST_ID,
            PARENT_ACT_INST_ID_,
            EXECUTION_ID,
            PROC_INST_ID,
            ROOT_PROC_INST_ID,
            ACT_ID,
            ACT_NAME,
            ACT_TYPE,
            START_TIME,
            END_TIME,
            DURATION,
            STATUS,
            CODE,
            LOG_TEXT
        )
        VALUES
        (
            #{id, jdbcType=VARCHAR},
            #{actInstId, jdbcType=VARCHAR},
            #{parentActInstId, jdbcType=VARCHAR},
            #{executionId, jdbcType=VARCHAR},
            #{procInstId, jdbcType=VARCHAR},
            #{rootProcInstId, jdbcType=VARCHAR},
            #{actId, jdbcType=VARCHAR},
            #{actName, jdbcType=VARCHAR},
            #{actType, jdbcType=VARCHAR},
            #{startTime, jdbcType=TIMESTAMP},
            #{endTime, jdbcType=TIMESTAMP},
            #{duration, jdbcType=INTEGER},
            #{status, jdbcType=INTEGER},
            #{code, jdbcType=VARCHAR},
            #{logText, jdbcType=VARCHAR}
        );
        INSERT INTO ${tablePrefix}job_instance_act (
            ID,
            ACT_INST_ID,
            PARENT_ACT_INST_ID_,
            EXECUTION_ID,
            PROC_INST_ID,
            ROOT_PROC_INST_ID,
            ACT_ID,
            ACT_NAME,
            ACT_TYPE,
            START_TIME,
            END_TIME,
            DURATION,
            STATUS,
            CODE,
            LOG_TEXT
        )
        VALUES
        (
            #{id, jdbcType=VARCHAR},
            #{actInstId, jdbcType=VARCHAR},
            #{parentActInstId, jdbcType=VARCHAR},
            #{executionId, jdbcType=VARCHAR},
            #{procInstId, jdbcType=VARCHAR},
            #{rootProcInstId, jdbcType=VARCHAR},
            #{actId, jdbcType=VARCHAR},
            #{actName, jdbcType=VARCHAR},
            #{actType, jdbcType=VARCHAR},
            #{startTime, jdbcType=TIMESTAMP},
            #{endTime, jdbcType=TIMESTAMP},
            #{duration, jdbcType=INTEGER},
            #{status, jdbcType=INTEGER},
            #{code, jdbcType=VARCHAR},
            #{logText, jdbcType=VARCHAR}
        )
    </insert>

    <update id="updateAct" parameterType="com.sse.attemper.common.result.dispatch.monitor.JobInstanceAct">
        UPDATE ${tablePrefix}job_execution_act j
        SET
        STATUS = #{status, jdbcType=INTEGER},
        END_TIME = #{endTime, jdbcType=TIMESTAMP},
        DURATION = #{duration, jdbcType=INTEGER},
        CODE = #{code, jdbcType=VARCHAR},
        LOG_TEXT = #{logText, jdbcType=VARCHAR}
        <where>
            <include refid="condActInstId"/>
        </where>
        ;
        UPDATE ${tablePrefix}job_instance_act j
        SET
        STATUS = #{status, jdbcType=INTEGER},
        END_TIME = #{endTime, jdbcType=TIMESTAMP},
        DURATION = #{duration, jdbcType=INTEGER},
        CODE = #{code, jdbcType=VARCHAR},
        LOG_TEXT = #{logText, jdbcType=VARCHAR}
        <where>
            <include refid="condActInstId"/>
        </where>
    </update>

    <select id="list" parameterType="map" resultType="com.sse.attemper.common.result.dispatch.monitor.JobInstance">
        SELECT * FROM (
        SELECT t.ID,
        t.PROC_INST_ID,
        t.ROOT_PROC_INST_ID,
        t.JOB_NAME,
        t.TRIGGER_NAME,
        t.PROC_DEF_ID,
        t.START_TIME,
        t.END_TIME,
        t.DURATION,
        t.STATUS,
        t.TENANT_ID,
        job.DISPLAY_NAME
        FROM ${tablePrefix}job_instance t
        LEFT JOIN ${tablePrefix}job job USING (JOB_NAME, TENANT_ID)
        ) j
        <where>
            <if test="jobName != null">
                and lower(JOB_NAME) like concat('%', lower(#{jobName, jdbcType=VARCHAR}), '%')
            </if>
            <if test="displayName != null">
                and lower(DISPLAY_NAME) like concat('%', lower(#{displayName, jdbcType=VARCHAR}), '%')
            </if>
            <if test="status != null &amp;&amp;status.length &gt; 0">
                and STATUS in
                <foreach item="item" collection="status" open="(" separator="," close=")">
                    #{item, jdbcType=INTEGER}
                </foreach>
            </if>
            <if test="lowerStartTime != null">
                and START_TIME &gt;= #{lowerStartTime, jdbcType=VARCHAR}
            </if>
            <if test="upperStartTime != null">
                and START_TIME &lt;= #{upperStartTime, jdbcType=VARCHAR}
            </if>
            <if test="lowerEndTime != null">
                and END_TIME &gt; #{lowerEndTime, jdbcType=VARCHAR}
            </if>
            <if test="upperEndTime != null">
                and END_TIME &lt;= #{upperEndTime, jdbcType=VARCHAR}
            </if>
            <include refid="condRootProcInstId"/>
            <include refid="condTenantId"/>
        </where>
        <choose>
            <when test="sort == null">
                order by START_TIME
            </when>
            <otherwise>
                order by ${sort}
            </otherwise>
        </choose>
    </select>

    <select id="listAct" parameterType="map"
            resultType="com.sse.attemper.common.result.dispatch.monitor.JobInstanceAct">
        SELECT act.*
        FROM ${tablePrefix}job_instance_act act
        JOIN ${tablePrefix}job_instance j
        ON act.ROOT_PROC_INST_ID = j.ROOT_PROC_INST_ID
        <where>
            <include refid="condRootProcInstId"/>
            <if test="actId != null">
                and act.ACT_ID = #{actId, jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <sql id="condId">
        <if test="id != null">
            and j.ID = #{id, jdbcType=VARCHAR}
        </if>
    </sql>

    <sql id="condProcInstId">
        <if test="procInstId != null">
            and j.PROC_INST_ID = #{procInstId, jdbcType=VARCHAR}
        </if>
    </sql>

    <sql id="condRootProcInstId">
        <if test="rootProcInstId != null">
            and j.ROOT_PROC_INST_ID = #{rootProcInstId, jdbcType=VARCHAR}
        </if>
    </sql>

    <sql id="condActInstId">
        <if test="actInstId != null">
            and j.ACT_INST_ID = #{actInstId, jdbcType=VARCHAR}
        </if>
    </sql>

    <sql id="condTenantId">
        <if test="tenantId != null">
            and j.TENANT_ID = #{tenantId, jdbcType=VARCHAR}
        </if>
    </sql>
</mapper>