<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.attemper.core.dao.mapper.instance.JobInstanceMapper">

    <select id="get" parameterType="map"
            resultType="com.github.attemper.common.result.dispatch.instance.JobInstance">
        SELECT * FROM ${tablePrefix}job_instance j
        <where>
            <include refid="condId"/>
            <include refid="condProcInstId"/>
        </where>
    </select>

    <select id="count" parameterType="map" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM ${tablePrefix}job_execution j
        <where>
            <include refid="condJobName"/>
            <include refid="condTenantId"/>
            <if test="status != null &amp;&amp;status.size() &gt; 0">
                <choose>
                    <when test="status.size() == 1">
                        AND STATUS = #{status, jdbcType=INTEGER}
                    </when>
                    <otherwise>
                        AND STATUS in
                        <foreach item="item" collection="status" open="(" separator="," close=")">
                            #{item, jdbcType=INTEGER}
                        </foreach>
                    </otherwise>
                </choose>
            </if>
        </where>
    </select>

    <select id="countProcessChildren" parameterType="string" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM ${tablePrefix}job_instance j WHERE super_proc_inst_id = #{1, jdbcType=VARCHAR}
    </select>

    <select id="listProcessChildren" parameterType="string"
            resultType="com.github.attemper.common.result.dispatch.instance.JobInstanceWithChildren">
        SELECT * FROM ${tablePrefix}job_instance j WHERE super_proc_inst_id = #{1, jdbcType=VARCHAR} ORDER BY id
    </select>

    <select id="countRetriedChildren" parameterType="string" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM ${tablePrefix}job_instance j WHERE parent_id = #{1, jdbcType=VARCHAR} and id != parent_id
    </select>

    <select id="listRetriedChildren" parameterType="string"
            resultType="com.github.attemper.common.result.dispatch.instance.JobInstanceWithChildren">
        SELECT * FROM ${tablePrefix}job_instance j WHERE parent_id = #{1, jdbcType=VARCHAR} and id != parent_id ORDER BY id DESC
    </select>

    <select id="getAct" parameterType="string"
            resultType="com.github.attemper.common.result.dispatch.instance.JobInstanceAct">
        SELECT * FROM ${tablePrefix}job_instance_act j WHERE ID = #{1}
    </select>

    <insert id="add" parameterType="com.github.attemper.common.result.dispatch.instance.JobInstance">
        INSERT INTO ${tablePrefix}job_execution
        <include refid="insertSql"/>
        ;
        INSERT INTO ${tablePrefix}job_instance
        <include refid="insertSql"/>
    </insert>

    <sql id="insertSql">
        (
            ID,
            PROC_INST_ID,
            ROOT_PROC_INST_ID,
            SUPER_PROC_INST_ID,
            JOB_NAME,
            DISPLAY_NAME,
            TRIGGER_NAME,
            PROC_DEF_ID,
            START_TIME,
            END_TIME,
            DURATION,
            STATUS,
            CODE,
            MSG,
            PARENT_ID,
            SCHEDULER_URI,
            EXECUTOR_URI,
            TENANT_ID
        )
        VALUES
        (
            #{id, jdbcType=VARCHAR},
            #{procInstId, jdbcType=VARCHAR},
            #{rootProcInstId, jdbcType=VARCHAR},
            #{superProcInstId, jdbcType=VARCHAR},
            #{jobName, jdbcType=VARCHAR},
            #{displayName, jdbcType=VARCHAR},
            #{triggerName, jdbcType=VARCHAR},
            #{procDefId, jdbcType=VARCHAR},
            #{startTime, jdbcType=TIMESTAMP},
            #{endTime, jdbcType=TIMESTAMP},
            #{duration, jdbcType=INTEGER},
            #{status, jdbcType=INTEGER},
            #{code, jdbcType=INTEGER},
            #{msg, jdbcType=VARCHAR},
            #{parentId, jdbcType=VARCHAR},
            #{schedulerUri, jdbcType=VARCHAR},
            #{executorUri, jdbcType=VARCHAR},
            #{tenantId, jdbcType=VARCHAR}
        )
    </sql>

    <update id="update" parameterType="com.github.attemper.common.result.dispatch.instance.JobInstance">
        UPDATE ${tablePrefix}job_execution j
        <include refid="updateSql"/>
        ;
        UPDATE ${tablePrefix}job_instance j
        <include refid="updateSql"/>
    </update>

    <update id="updateDone" parameterType="com.github.attemper.common.result.dispatch.instance.JobInstance">
        UPDATE ${tablePrefix}job_instance j
        <include refid="updateSql"/>
        ;
        DELETE FROM j USING ${tablePrefix}job_execution j
        <where>
            <include refid="condProcInstId"/>
        </where>
    </update>

    <sql id="updateSql">
        <set>
            <if test="displayName != null">
                DISPLAY_NAME = #{displayName, jdbcType=VARCHAR},
            </if>
            <if test="procInstId != null">
                PROC_INST_ID = #{procInstId, jdbcType=VARCHAR},
            </if>
            <if test="rootProcInstId != null">
                ROOT_PROC_INST_ID = #{rootProcInstId, jdbcType=VARCHAR},
            </if>
            <if test="superProcInstId != null">
                SUPER_PROC_INST_ID = #{superProcInstId, jdbcType=VARCHAR},
            </if>
            <if test="procDefId != null">
                PROC_DEF_ID = #{procDefId, jdbcType=VARCHAR},
            </if>
            <if test="endTime != null">
                END_TIME = #{endTime, jdbcType=TIMESTAMP},
            </if>
            <if test="duration != null">
                DURATION = #{duration, jdbcType=INTEGER},
            </if>
            <if test="status != null">
                STATUS = #{status, jdbcType=INTEGER},
            </if>
            <if test="code != null">
                CODE = #{code, jdbcType=INTEGER},
            </if>
            <if test="msg != null">
                MSG = #{msg, jdbcType=VARCHAR},
            </if>
            <if test="parentId != null">
                PARENT_ID = #{parentId, jdbcType=VARCHAR},
            </if>
        </set>
        <where>
            <include refid="condId"/>
        </where>
    </sql>

    <insert id="addAct" parameterType="com.github.attemper.common.result.dispatch.instance.JobInstanceAct">
        INSERT INTO ${tablePrefix}job_instance_act
        <include refid="insertActSql"/>
    </insert>

    <sql id="insertActSql">
        (
            ID,
            ACT_INST_ID,
            PARENT_ACT_INST_ID,
            EXECUTION_ID,
            PROC_INST_ID,
            ROOT_PROC_INST_ID,
            ACT_ID,
            ACT_NAME,
            ACT_TYPE,
            START_TIME,
            END_TIME,
            DURATION,
            STATUS,
            LOG_KEY
        )
        VALUES
        (
            #{id, jdbcType=VARCHAR},
            #{actInstId, jdbcType=VARCHAR},
            #{parentActInstId, jdbcType=VARCHAR},
            #{executionId, jdbcType=VARCHAR},
            #{procInstId, jdbcType=VARCHAR},
            #{rootProcInstId, jdbcType=VARCHAR},
            #{actId, jdbcType=VARCHAR},
            #{actName, jdbcType=VARCHAR},
            #{actType, jdbcType=VARCHAR},
            #{startTime, jdbcType=TIMESTAMP},
            #{endTime, jdbcType=TIMESTAMP},
            #{duration, jdbcType=INTEGER},
            #{status, jdbcType=INTEGER},
            #{logKey, jdbcType=VARCHAR}
        )
    </sql>

    <update id="updateAct" parameterType="com.github.attemper.common.result.dispatch.instance.JobInstanceAct">
        UPDATE ${tablePrefix}job_instance_act j
        <set>
            <if test="status != null">
                STATUS = #{status, jdbcType=INTEGER},
            </if>
            <if test="endTime != null">
                END_TIME = #{endTime, jdbcType=TIMESTAMP},
            </if>
            <if test="duration != null">
                DURATION = #{duration, jdbcType=INTEGER},
            </if>
            <if test="bizUri != null">
                BIZ_URI = #{bizUri, jdbcType=VARCHAR},
            </if>
            <if test="logKey != null">
                LOG_KEY = IF(LOG_KEY IS NULL, #{logKey, jdbcType=VARCHAR}, concat(LOG_KEY, ',',
                #{logKey, jdbcType=VARCHAR})),
            </if>
            <if test="logText != null">
                LOG_TEXT = IF(LOG_TEXT IS NULL, #{logText, jdbcType=VARCHAR}, concat(LOG_TEXT, ',',
                #{logText, jdbcType=VARCHAR})),
            </if>
        </set>
        <where>
            <include refid="condId"/>
            <include refid="condExecutionId"/>
        </where>
    </update>

    <select id="listInstance" parameterType="map"
            resultType="com.github.attemper.common.result.dispatch.instance.JobInstanceWithChildren">
        SELECT j.ID, j.PROC_INST_ID, j.ROOT_PROC_INST_ID, j.JOB_NAME, j.DISPLAY_NAME, j.TRIGGER_NAME,
        j.PROC_DEF_ID, j.STATUS, j.CODE, j.MSG, j.PARENT_ID, j.SCHEDULER_URI, j.EXECUTOR_URI,
        j.TENANT_ID, j.START_TIME, j.END_TIME, j.DURATION
        FROM ${tablePrefix}job_instance j
        <where>
            AND j.SUPER_PROC_INST_ID IS NULL
            <if test="isRetry != null">
                PARENT_ID = ID
            </if>
            <if test="jobName != null">
                and lower(JOB_NAME) like concat('%', lower(#{jobName, jdbcType=VARCHAR}), '%')
            </if>
            <if test="displayName != null">
                and lower(DISPLAY_NAME) like concat('%', lower(#{displayName, jdbcType=VARCHAR}), '%')
            </if>
            <if test="status != null &amp;&amp;status.size() &gt; 0">
                and STATUS in
                <foreach item="item" collection="status" open="(" separator="," close=")">
                    #{item, jdbcType=INTEGER}
                </foreach>
            </if>
            <if test="lowerStartTime != null">
                and START_TIME &gt;= #{lowerStartTime, jdbcType=VARCHAR}
            </if>
            <if test="upperStartTime != null">
                and START_TIME &lt;= #{upperStartTime, jdbcType=VARCHAR}
            </if>
            <if test="lowerEndTime != null">
                and END_TIME &gt; #{lowerEndTime, jdbcType=VARCHAR}
            </if>
            <if test="upperEndTime != null">
                and END_TIME &lt;= #{upperEndTime, jdbcType=VARCHAR}
            </if>
            <include refid="condProcInstId"/>
            <include refid="condTenantId"/>
        </where>
        <choose>
            <when test="sort == null">
                order by id DESC
            </when>
            <otherwise>
                order by ${sort}
            </otherwise>
        </choose>
    </select>

    <select id="listAct" parameterType="map"
            resultType="com.github.attemper.common.result.dispatch.instance.JobInstanceAct">
        SELECT j.* FROM (
        SELECT jia.ID, jia.ACT_INST_ID, jia.PARENT_ACT_INST_ID, jia.EXECUTION_ID, jia.PROC_INST_ID,
        jia.ROOT_PROC_INST_ID, jia.ACT_ID, jia.ACT_NAME, jia.ACT_TYPE, jia.STATUS, jia.LOG_KEY, jia.BIZ_URI,
        IFNULL(ha.START_TIME_, jia.START_TIME) as START_TIME, IFNULL(ha.END_TIME_, jia.END_TIME) as END_TIME,
        IFNULL(ha.DURATION_, jia.DURATION) as DURATION, ri.INCIDENT_MSG_ AS LOG_TEXT
        FROM ${tablePrefix}job_instance_act jia
        LEFT JOIN act_ru_incident ri ON jia.EXECUTION_ID = ri.EXECUTION_ID_
        LEFT JOIN act_hi_actinst ha ON jia.EXECUTION_ID = ha.EXECUTION_ID_ AND jia.ACT_ID = ha.ACT_ID_) j
        <where>
            <include refid="condProcInstId"/>
            <if test="actId != null">
                and j.ACT_ID = #{actId, jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <sql id="condId">
        <if test="id != null">
            and j.ID = #{id, jdbcType=VARCHAR}
        </if>
    </sql>

    <sql id="condProcInstId">
        <if test="procInstId != null">
            and j.PROC_INST_ID = #{procInstId, jdbcType=VARCHAR}
        </if>
    </sql>

    <sql id="condExecutionId">
        <if test="executionId != null">
            and j.EXECUTION_ID = #{executionId, jdbcType=VARCHAR}
        </if>
    </sql>

    <sql id="condJobName">
        <if test="jobName != null">
            AND j.JOB_NAME = #{jobName, jdbcType=VARCHAR}
        </if>
    </sql>

    <sql id="condTenantId">
        <if test="tenantId != null">
            and j.TENANT_ID = #{tenantId, jdbcType=VARCHAR}
        </if>
    </sql>
</mapper>