.table-expand {
  font-size: 0;
}

.table-expand label {
  width: 150px;
  color: #99a9bf;
}

.table-expand .el-form-item {
  margin-right: 0;
  margin-bottom: 0;
  width: 25%;
}

.trigger{
  &-row{
    &-bottom {
      margin-top: 10px;
    }
    &-hr {
      border: 1px dashed #E4E7ED;
      color: #E4E7ED;
      size: 1px;
    }
  }
}

.table {
  &-external {
    &-button {
      margin-left: 10px;
    }
  }
}
