@import '~bpmn-js/dist/assets/diagram-js.css';
@import '~bpmn-js/dist/assets/bpmn-font/css/bpmn.css';
@import '~bpmn-js/dist/assets/bpmn-font/css/bpmn-codes.css';
@import '~bpmn-js/dist/assets/bpmn-font/css/bpmn-embedded.css';
@import '~diagram-js-minimap/assets/diagram-js-minimap.css';

.djs-minimap {
  bottom: 20px;
  left: 20px;
  top: auto;
  right: auto;
}

a[href="http://bpmn.io"] {
  display: none;
}
