@import '~bpmn-js/dist/assets/diagram-js.css';
@import '~bpmn-js/dist/assets/bpmn-font/css/bpmn.css';
@import '~bpmn-js/dist/assets/bpmn-font/css/bpmn-codes.css';
@import '~bpmn-js/dist/assets/bpmn-font/css/bpmn-embedded.css';
@import '~bpmn-js-properties-panel/dist/assets/bpmn-js-properties-panel.css';
@import '~diagram-js-minimap/assets/diagram-js-minimap.css';
// overwrite some styles of bpmn

.properties-panel-parent {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 260px;
  z-index: 10;
  border-left: 1px solid #ccc;
  overflow: auto;
}

.djs-minimap {
  bottom: 20px;
  left: 200px;
  top: auto;
  right: auto;
}

.content{
  position: absolute;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  font-size: 12px;
}

.canvas{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.buttons{
  position: absolute;
  left: 0;
  bottom: 20px;
  &>li{
    display:inline-block;
    margin: 5px;
    &>a{
      color: #999;
      background: #eee;
      cursor: not-allowed;
      padding: 8px;
      border: 1px solid #ccc;
      &.active{
        color: #333;
        background: #fff;
        cursor: pointer;
      }
    }
  }
}

.custom-area {
  position: absolute;
  bottom: 30px;
  right: 400px;
}

div[data-entry="versionTag"] {
  display: none;
}

div[data-entry="process-is-executable"] {
  display: none;
}

div[data-group="candidateStarterConfiguration"] {
  display: none;
}

div[data-group="tasklist"] {
  display: none;
}

div[data-group="documentation"] {
  display: none;
}

a[href="http://bpmn.io"] {
  display: none;
}

.layout{
  margin: 0;
  padding: 0;
  width:100%;
  height: 100%;
  position: absolute;
}

.canvas-monitor{
  background-color: #ffffff;
  width: 70%;
  height: 100%;
  font-size: 12px;
  float: left;
}

.external{
  width: 30%;
  height: 100%;
  font-size: 12px;
  float: right;
  overflow: auto;
}

.el-table .row0{
  color: #409EFF;
}

.el-table .row1{
  color: #67C23A;
}

.el-table .row2{
  color: #F56C6C;
}

.el-table .row3{
  color: #E6A23C;
}

.el-table .row4{
  color: #909399;
}

.status0 {
  background-color: #409EFF; /* color elements as green */
  opacity: 0.5;
  border-radius: 10px;
  //pointer-events: none; /* no pointer events, allows clicking through onto the element */
}

.status1 {
  background-color: #67C23A; /* color elements as green */
  opacity: 0.5;
  border-radius: 10px;
}

.status2 {
  background-color: #F56C6C; /* color elements as green */
  opacity: 0.5;
  border-radius: 10px;
}

.status3 {
  background-color: #E6A23C; /* color elements as green */
  opacity: 0.5;
  border-radius: 10px;
}

.status4 {
  background-color: #909399; /* color elements as green */
  opacity: 0.5;
  border-radius: 10px;
}

a[href="http://bpmn.io"] {
  display: none;
}

.operation-area {
  margin-bottom: 15px;
}
