// overwrite some styles of bpmn

.properties-panel-parent{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 260px;
  z-index: 10;
  border-left: 1px solid #ccc;
  overflow: auto;
}
.djs-minimap{
  top: 10px;
  right: 270px;
}
