<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.attemper.config.base.dao.mapper.ApiLogMapper">
    <insert id="add" parameterType="com.github.attemper.config.base.entity.ApiLog">
        INSERT INTO api_log (
            ID,
            TENANT_ID,
            USER_NAME,
            CLASS_NAME,
            METHOD,
            TAG,
            OPERATION,
            PATH,
            PARAM,
            RESULT,
            CODE,
            MSG,
            RESPONSE_TIME,
            DURATION,
            IP
        )
        VALUES
        (
            #{id, jdbcType=VARCHAR},
            #{tenantId, jdbcType=VARCHAR},
            #{userName, jdbcType=VARCHAR},
            #{className, jdbcType=VARCHAR},
            #{method, jdbcType=VARCHAR},
            #{tag, jdbcType=VARCHAR},
            #{operation, jdbcType=VARCHAR},
            #{path, jdbcType=VARCHAR},
            #{param, jdbcType=VARCHAR},
            #{result, jdbcType=VARCHAR},
            #{code, jdbcType=INTEGER},
            #{msg, jdbcType=VARCHAR},
            #{responseTime, jdbcType=TIMESTAMP},
            #{duration, jdbcType=VARCHAR},
            #{ip, jdbcType=VARCHAR}
        )
    </insert>

</mapper>